[submodule "src/ros2_control"]
	path = src/ros2_control
	url = https://github.com/gftabor/ros2_control.git
[submodule "src/gz_ros2_control"]
	path = src/gz_ros2_control
	url = https://github.com/gftabor/gz_ros2_control.git
